<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
<session-factory>

    <!-- MySQL connection
<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
<property name="hibernate.connection.username">tester</property>
<property name="hibernate.connection.password">tester123</property>
<property name="hibernate.connection.url">jdbc:mysql://localhost/testdb</property>
<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
-->

    <!-- HSQLDB Connection -->
    <property name="hibernate.connection.driver_class">org.hsqldb.jdbcDriver</property>
    <property name="hibernate.connection.url">jdbc:hsqldb:hsql://localhost/</property>
    <!--<property name='hibernate.connection.driver_class'>com.mysql.jdbc.Driver</property>
    <property name='hibernate.connection.url'>jdbc:mysql://localhost:3306/SampleDB</property>-->


    <property name="hibernate.connection.username">SA</property>
    <property name="hibernate.connection.password"></property>
    <property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>
    <!--<property name='dialect'>org.hibernate.dialect.MySQLDialect</property>-->

    <property name="hibernate.connection.pool_size">4</property>

    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.format_sql">true</property>

    <!--
    <property name="hibernate.use_sql_comments">true</property>
    -->

    <!--
    <property name="hibernate.hbm2ddl.auto">update</property>
    <property name="hibernate.hbm2ddl.auto">validate</property>
    <property name="hibernate.hbm2ddl.auto">create</property>
    <property name="hibernate.hbm2ddl.auto">create-drop</property>
    -->
    <property name="hibernate.hbm2ddl.auto">create</property>

    <mapping class="com.yan.wang.creditcard.dao.AMEX"/>
    <mapping class="com.yan.wang.creditcard.dao.DinersClub"/>
    <mapping class="com.yan.wang.creditcard.dao.JCB"/>
    <mapping class="com.yan.wang.creditcard.dao.MasterCard"/>
    <mapping class="com.yan.wang.creditcard.dao.Visa"/>
    <mapping class="com.yan.wang.creditcard.dao.Voyager"/>
    <mapping class="com.yan.wang.creditcard.dao.Discover"/>


    <!--
    <mapping resource="deng.hibernate.test.quick.hbmxml.Simple.hbm.xml"/>
    <mapping class="deng.hibernate.test.quick.annot.Simple"/>
    <mapping package="deng.hibernate.test.quick.annot"/>
    -->

</session-factory>
</hibernate-configuration>